@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700;800;900&display=swap");
* {
  font-family: "Exo 2", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #c33764 0%, #1d2671 100%);
  overflow-x: hidden;
}
.container {
  width: calc(100vw - 260px);
  margin-bottom: 82px;
}
.title-section {
  display: flex;
  justify-content: center;
}
.title-section h1 {
  color: #fff;
  font-size: 90px;
  font-weight: 800;
  line-height: 108px;
  font-style: normal;
  margin-top: 35px;
  padding-right: 22px;
  margin-bottom: 0;
}
.about-section {
  display: flex;
  justify-content: center;
}
.about-section h2 {
  font-weight: 700;
  padding-left: 6px;
  line-height: 60px;
  word-spacing: 0px;
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-style: normal;
  margin-top: 37px;
}
main {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 90px;
}
.application-field {
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47.458%;
}
.application-field .application-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  margin-top: 27px;
}

.application-field textarea {
  width: 100%;
  height: 240px;
  border: 2px solid #d448b5;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 18px;
  line-height: 22px;
  resize: vertical;
}
.application-field textarea::placeholder {
  color: #b1afaf;
}
.application-field .application-options .application-select {
  align-self: center;
  height: 100%;
  width: 57%;
  border-radius: 10px;
  border: 2px solid #191f82;
}
.application-field .application-field-select-button {
  background-color: #d448b5;
  height: 100%;
  width: 40%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  outline: none;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 65px;
  color: #ffffff;
  padding-right: 1px;
}
.application-field .application-field-select-button:hover {
  background-color: #ea95d7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.application-field .application-field-select-button:active {
  background-color: #9f508e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(4px);
}
main .image-ai {
  width: 47.458%;
  height: 340px;
  background: url("../image/brain-ai.svg") no-repeat;
  background-size: cover;
  background-position: center;
  
  border-radius: 10px;
}
.developers-info {
  width: 100%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}
.developers-info .developers-info-block {
  margin-top: 140px;
  height: 85px;
  background-color: #ffffff;
  border: 2px solid #d448b5;
  border-radius: 10px;
  outline: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #5c5c5c;
  padding-left: 35px;
  padding-right: 35px;
}
.developers-info .developers-info-block .developers-info-block-text-left {
  background-image: url("../image//incubator-logo.svg");
  background-repeat: no-repeat;
  width: 163px;
  height: 33px;
  margin-left: 5px;
}
.developers-info .developers-info-block .developers-info-block-text-right {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
.developers-info-block-text-right .social i {
  font-size: 40px;
  color: #d448b5;
}
@media screen and (max-width: 931px) {
  .title-section h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 800;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .about-section h2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    margin-top: 30px;
    width: 88.947%;
  }
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-top: 30px;
  }
  .application-field {
    margin-top: 30px;
  }
  .developers-info .developers-info-block {
    margin-top: 60px;
  }
  main .image-ai {
    width: 100%;
  }
  .application-field {
    width: 100%;
  }
  .developers-info .developers-info-block {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }
  .developers-info .developers-info-block section {
    margin: 15px;
  }
  .developers-info .developers-info-block .developers-info-block-text-right{
    width: auto;
  }
}

@media screen and (max-width: 426px) {
  .container {
    width: calc(100vw - 40px);
    margin-bottom: 82px;
  }
  main {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  main .image-ai {
    height: 205px;
  }
}
